# Build outputs
build/
build_release/

# IDE/editor
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# CMake/Ninja
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
.ninja_deps
.ninja_log

# Binaries and symbols
*.obj
*.o
*.pdb
*.ilk
*.exe
*.dll
*.so
*.dylib
